
    <h1>Admin Control Panel</h1>
    <br><br><br><br>
    <div class="booking"> 
        
        
            <a [routerLink]="['/patientmanagement']"> 
              <img class="patient id" [src]="myimage1" alt="" >
            </a>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          
            <a [routerLink]="['/docConsole']"> 
              <img class="doctorid" [src]="myimage2" alt="" >
            </a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
           
            <a [routerLink]="['/doctormanagement']"> 
              <img class="admin" [src]="myimage3" alt="" >
            </a>
           
          
          
    </div>
    
