<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<h1>Hospital Management Service
  <div class="social-menu">

      <i class="fa fa-facebook-square" style="font-size:36px;color:rgb(236, 236, 247)" ></i>&nbsp;&nbsp;&nbsp;
      <i class="fa fa-twitter" style="font-size:36px;color:rgb(236, 236, 247)"></i>
    
  </div>
    <mat-toolbar class="navbar" >
       
       <div> <nav>
        <a routerLink='/home' routerLinkActive='active'><span>Home</span> </a> 
        
       
       </nav>
        
        </div>
        <div>
          <nav>
          <a> <span>Apointment</span></a>  
          <span>Contact us</span> 
          <span>FAQ</span>
          </nav>
           
        </div>
      </mat-toolbar>   
  </h1> 