<div class="container">
    <div class="card">
        <ul>
            <li class="nav-item">
                <a class="nav-link" routerLink="/doctorreg" routerLinkActie="active">Add Doctor</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/doctormanagement" routerLinkActie="active">Doctor List</a>
            </li>

        </ul>
        

        
       
        <div class="panel-body">
            <table class="table table-striped" width="100%" cellspacing="0">
                <thead>
                    <th>DOCTOR ID</th>
                    <th>NAME</th>
                    <th>PASSWORD</th>
                    <th>EMAIL</th>
                    <th>QUALIFICATION</th>
                    <th>DEPTID</th>
                    
                </thead>
                
                    <tr *ngFor="let doc of doctor" >
                       <td>{{doc.doctorID}}</td>
                       <td>{{doc.fullName}}</td>
                       <td>{{doc.pass}}</td>
                       <td>{{doc.email}}</td>
                       <td>{{doc.qualification}}</td>
                       <td>{{doc.deptId}}</td>
                
                        <td><button  (click)="deleteDoctor(doc.doctorID)" class="btn btn-danger">Delete</button>
                        <button  (click)="updateDoctor(doc.doctorID)" class="btn btn-success" style="margin-left: 10px">Update</button></td>
                    </tr>
            
            </table>
        </div>
    </div>
</div>
