<div class="adminlog">
    <mat-card>
        <mat-form-field> 
          <form> 
            <h1 >LOG In</h1>
            <mat-form-field appearance="fill">
              <mat-label>Admin ID</mat-label>
              <input matInput placeholder="Enter ID" class="form-control">
            </mat-form-field><br>
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" placeholder="ENTER your password" >
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field><br><br><br>
              <button mat-raised-button color="primary" [routerLink]="['/adminconsole']">Login</button>
                
          </form>
            
           
        </mat-form-field>
           
        
    </mat-card>
    </div>
    