<div class="doclog">
  <mat-card>
    <h1>Doctor SignIn</h1>
    <div class="example-container">
  
      <mat-form-field appearance="fill">
        <mat-label>Doctor Email</mat-label>
        <input matInput type="email" class="example-right-align" [(ngModel)]="doc">
      
      </mat-form-field>
    </div>
      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'"  [(ngModel)]="password" >
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <button  type="submit" mat-raised-button color="primary"  class="btn btn-success" (click)="loginDoc()">LogIn</button>&nbsp;&nbsp;&nbsp;
      <button type="reset" mat-raised-button color="primary" routerLink="/doctorreg">Register</button>   
    
      
    
      
  </mat-card>
  </div>
  