<mat-card>
    
        <h1 >Register </h1>
        <div class="row">
         <div [hidden]="submitted" >
         
            <form (ngSubmit)="onSubmit()">
   
               <div class="form-group">
                  
                  ID :<input matInput placeholder="Enter ID" class="form-group" id="id" name="id"  [(ngModel)]="patient.id" >
            
               </div>
               <div class="form-group">
               
               NAME : <input matInput placeholder="Enter Your Name" class="form-group" id="name" name="name" [(ngModel)]="patient.name">
               </div>
            <div class="form-group">
        
               Password : <input matInput [type]="hide ? 'password' : 'text'" placeholder="ENTER your password" class="form-group" id="password" name="password"  [(ngModel)]="patient.password">
               <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
               <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
               </button>
               
            </div>
            <div class="form-group">
               
               Email :<input matInput placeholder="E-Mail"  id="email" name="email" [(ngModel)]="patient.email">
   

            </div>
            
            <div class="form-group">
               
               Address :<textarea   cols="30" rows="10" class="form-group" id="address" name="address"  [(ngModel)]="patient.address">
                  </textarea>
                
               </div>
               
            
               <div class="form-group">
               
               Medical History :<textarea  id="history" cols="30" rows="10" class="form-group" id="medicalhistory" name="medicalhistory"  [(ngModel)]="patient.medicalhistory">
                  </textarea>
                
               </div>
           
         
            <button  type="submit" mat-raised-button color="primary" class="btn btn-success">Submit</button>&nbsp;&nbsp;&nbsp;
            <button type="reset" mat-raised-button color="primary">Reset</button>   
   
       </form>
   
           </div>
             
        </div>
        
</mat-card>
